.main {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
  justify-items: center;
  padding: 0 10px;
  gap: 40px;
}
@media (max-width: 619px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
