@import "../../Variables.scss";

.sidebar {
  margin: 0;
  padding: 0;

  width: 200px;
  background-color: $primaryColor;
  //   background-image: url("../../assets/imgs/bg3.jpg");

  position: sticky;
  right: 0px;
  height: 100%;
  overflow: auto;
}

.sidebar li {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

.sidebar li.active {
  background-color: grey;
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: grey;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
