@import "../../Variables.scss";

.container {
  background-color: antiquewhite;
  height: 760px;
  display: flex;
}
.cardlist {
  margin-left: 5%;
  margin-right: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 1200px;
  border-radius: 90px;
}
.cardlist figure img {
  width: 150px;
  height: 200px;
  margin-right: 60px;
}
.cardlistflex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
  justify-items: center;
  padding: 0 10px;
  gap: 40px;
  margin-bottom: 40px;
}
.cardlistflexdiv {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: drop-shadow(8px 4px 2px 1px $fifthColor);
}
.cardlistflexdivinfo {
  flex-grow: 1;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #3e3e3e 95%);
  color: rgb(255, 255, 255);
  width: 150px;
  height: 200px;
  margin-right: 60px;
  font-size: 10px;
  visibility: hidden;
  position: absolute;
}
.cardlistflexdiv:hover .cardlistflexdivinfo {
  visibility: visible;
}
.cardlistflexdiv:hover {
  filter: drop-shadow(8px 4px 2px rgb(109, 109, 109));

  transition: filter 8s transform 8s;
}
.headline {
  text-align: center;

  padding-top: 20px;
  color: black;
}
.cardheadline {
  margin-top: 120px;
}
